<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak VI &ndash; ONTVANGEN ONDERHOUDSUITKERINGEN</div>

    <div class="vak4-header-row">
        <div></div>
        <div class="vak4-col-head">Belastingplichtige</div>
        <div class="vak4-col-head">Partner</div>
    </div>

    <!-- 1. Niet-gekapitaliseerde uitkeringen -->
    <div class="vak4-row">
        <div class="vak4-q-text">
            1. Niet-gekapitaliseerde uitkeringen (werkelijk ontvangen bedrag):
        </div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1192-69</span><InputNumber @bind-Value="Data.Code1192" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2192-39</span><InputNumber @bind-Value="Data.Code2192" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 2. Terugwerkende kracht -->
    <div class="vak4-row">
        <div class="vak4-q-text">
            2. Uitkeringen die u door een gerechtelijke beslissing met terugwerkende kracht zijn toegekend:
        </div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1193-68</span><InputNumber @bind-Value="Data.Code1193" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2193-38</span><InputNumber @bind-Value="Data.Code2193" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 3. Gekapitaliseerde uitkeringen -->
    <div class="vak4-group">
        <div class="vak4-q-label">3. Gekapitaliseerde uitkeringen (fictief jaarbedrag):</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) datum van toekenning van het kapitaal <em>(dag, maand, jaar):</em></div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell">
                    <span class="vak2-code">1195-66</span>
                    <InputText @bind-Value="Data.Code1195" class="vak6-date-input" placeholder="dd/mm/jjjj" />
                </div>
                <div class="vak4-input-cell">
                    <span class="vak2-code">2195-36</span>
                    <InputText @bind-Value="Data.Code2195" class="vak6-date-input" placeholder="dd/mm/jjjj" />
                </div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">fictief jaarbedrag:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1194-67</span><InputNumber @bind-Value="Data.Code1194" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2194-37</span><InputNumber @bind-Value="Data.Code2194" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) bedrag van het kapitaal:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1196-65</span><InputNumber @bind-Value="Data.Code1196" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2196-35</span><InputNumber @bind-Value="Data.Code2196" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- 4. Schuldenaars -->
    <div class="vak4-group">
        <div class="vak4-q-label">4. Schuldenaar(s) van de onder 1 tot 3 bedoelde onderhoudsuitkeringen <em>(naam, voornaam en adres):</em></div>

        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) rijksinwoner(s):</div>
            <div class="vak4-col-duo"></div>
        </div>
        @foreach (var item in Data.Rijksinwoners)
        {
            <div class="vak4-subrow">
                <div class="vak4-q-text vak4-indent2">
                    <InputText @bind-Value="item.Naam" class="vak6-schuldenaar-input" placeholder="naam, voornaam en adres" />
                </div>
                <div class="vak4-col-duo"></div>
            </div>
        }
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">
                <button type="button" class="vak3-add-btn" @onclick="() => Data.Rijksinwoners.Add(new())">+ rijksinwoner</button>
            </div>
            <div class="vak4-col-duo"></div>
        </div>

        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) niet-rijksinwoner(s):</div>
            <div class="vak4-col-duo"></div>
        </div>
        @foreach (var item in Data.NietRijksinwoners)
        {
            <div class="vak4-subrow">
                <div class="vak4-q-text vak4-indent2">
                    <InputText @bind-Value="item.Naam" class="vak6-schuldenaar-input" placeholder="naam, voornaam en adres" />
                </div>
                <div class="vak4-col-duo"></div>
            </div>
        }
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent2">
                <button type="button" class="vak3-add-btn" @onclick="() => Data.NietRijksinwoners.Add(new())">+ niet-rijksinwoner</button>
            </div>
            <div class="vak4-col-duo"></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakVIData Data { get; set; } = new();
}

