<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak XVI &ndash; BEZOLDIGINGEN VAN BEDRIJFSLEIDERS</div>

    <div class="vak2-section-header">A. GEWONE BEZOLDIGINGEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Gewone bezoldigingen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1400-00</span><InputNumber @bind-Value="Data.Code1400" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2400-00</span><InputNumber @bind-Value="Data.Code2400" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">2. Huurinkomsten aangemerkt als bezoldiging van bedrijfsleider:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1401-00</span><InputNumber @bind-Value="Data.Code1401" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2401-00</span><InputNumber @bind-Value="Data.Code2401" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">3. Voordelen van alle aard:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1402-00</span><InputNumber @bind-Value="Data.Code1402" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2402-00</span><InputNumber @bind-Value="Data.Code2402" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">4. Eigen kosten van de werkgever:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1453-02</span><InputNumber @bind-Value="Data.Code1453" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2453-69</span><InputNumber @bind-Value="Data.Code2453" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 5. Inhoudingen -->
    <div class="vak4-group">
        <div class="vak4-q-label">5. Inhoudingen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) Inhoudingen voor aanvullend pensioen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1407-00</span><InputNumber @bind-Value="Data.Code1407" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2407-00</span><InputNumber @bind-Value="Data.Code2407" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) Niet-ingehouden persoonlijke sociale bijdragen:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1454-99</span><InputNumber @bind-Value="Data.Code1454" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2454-69</span><InputNumber @bind-Value="Data.Code2454" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">6. Vakantiegeld:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1410-00</span><InputNumber @bind-Value="Data.Code1410" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2410-00</span><InputNumber @bind-Value="Data.Code2410" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">7. Opzeggingsvergoedingen en -premies:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1411-00</span><InputNumber @bind-Value="Data.Code1411" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2411-00</span><InputNumber @bind-Value="Data.Code2411" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">8. Achterstallen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1439-00</span><InputNumber @bind-Value="Data.Code1439" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2439-00</span><InputNumber @bind-Value="Data.Code2439" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">9. Bezoldigingen in het kader van een fietsplan:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1412-00</span><InputNumber @bind-Value="Data.Code1412" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2412-00</span><InputNumber @bind-Value="Data.Code2412" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 10. Overuren relance -->
    <div class="vak4-group">
        <div class="vak4-q-label">10. Overuren die recht geven op een relancetoeslag:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) Aantal uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1413-00</span><InputNumber @bind-Value="Data.Code1413" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2413-00</span><InputNumber @bind-Value="Data.Code2413" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) Bezoldiging voor die uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1414-00</span><InputNumber @bind-Value="Data.Code1414" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2414-00</span><InputNumber @bind-Value="Data.Code2414" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- 11. Werkbonus -->
    <div class="vak4-group">
        <div class="vak4-q-label">11. Werkbonus:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) Werkbonus (33,14%):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1419-00</span><InputNumber @bind-Value="Data.Code1419" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2419-00</span><InputNumber @bind-Value="Data.Code2419" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) Werkbonus (52,54%):</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1430-00</span><InputNumber @bind-Value="Data.Code1430" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2430-00</span><InputNumber @bind-Value="Data.Code2430" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak2-section-header">B. BEDRIJFSVOORHEFFING</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">12. Ingehouden bedrijfsvoorheffing:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1421-00</span><InputNumber @bind-Value="Data.Code1421" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2421-00</span><InputNumber @bind-Value="Data.Code2421" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak2-section-header">C. DIVERSE INLICHTINGEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">13. Hervatting als bedrijfsleider na ontslag of pensionering:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1417-38</span><InputNumber @bind-Value="Data.Code1417" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2417-08</span><InputNumber @bind-Value="Data.Code2417" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">14. Niet-recurrente resultaatsgebonden voordelen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1418-55</span><InputNumber @bind-Value="Data.Code1418" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2418-25</span><InputNumber @bind-Value="Data.Code2418" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">15. Roerende voorheffing op auteursrechten:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1427-00</span><InputNumber @bind-Value="Data.Code1427" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2427-00</span><InputNumber @bind-Value="Data.Code2427" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">16. Bijdragen/premies individuele voortzetting pensioen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1428-44</span><InputNumber @bind-Value="Data.Code1428" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2428-14</span><InputNumber @bind-Value="Data.Code2428" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 17. Overuren relance 2024 -->
    <div class="vak4-group">
        <div class="vak4-q-label">17. Overuren die recht geven op een relancetoeslag (2024):</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) Aantal uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1438-06</span><InputNumber @bind-Value="Data.Code1438" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2438-73</span><InputNumber @bind-Value="Data.Code2438" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) Bezoldiging voor die uren:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1440-04</span><InputNumber @bind-Value="Data.Code1440" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2440-71</span><InputNumber @bind-Value="Data.Code2440" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <!-- 18. Buitenlandse oorsprong -->
    <div class="vak2-section-header">D. BEZOLDIGINGEN VAN BUITENLANDSE OORSPRONG</div>
    <div class="vak3-buitenland-section">
        @foreach (var rij in Data.BuitenlandseInkomsten)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak3-amount-input" /></div>
                <div class="vak3-buitenland-cell">
                    <label>Type:</label>
                    <InputSelect @bind-Value="rij.TypeVermindering" class="vak5-select">
                        <option value="">— kies —</option>
                        <option value="vrijstelling">Vrijstelling met progressievoorbehoud</option>
                        <option value="vermindering">Vermindering tot de helft</option>
                    </InputSelect>
                </div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandseInkomsten.Add(new())">+ rij</button>
    </div>

    <!-- 16. Datums -->
    <div class="vak2-section-header">E. DATUMS</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Begindatum (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1415-00</span><InputText @bind-Value="Data.Code1415" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2415-00</span><InputText @bind-Value="Data.Code2415" class="vak3-text-input" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">Einddatum (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1416-00</span><InputText @bind-Value="Data.Code1416" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2416-00</span><InputText @bind-Value="Data.Code2416" class="vak3-text-input" /></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakXVIData Data { get; set; } = new();
}
