<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak XVIII &ndash; BATEN VAN VRIJE BEROEPEN, AMBTEN, POSTEN OF ANDERE WINSTGEVENDE BEZIGHEDEN</div>

    <div class="vak2-section-header">A. BATEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Brutobaten van het beroep:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1650-00</span><InputNumber @bind-Value="Data.Code1650" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2650-00</span><InputNumber @bind-Value="Data.Code2650" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">2. Voorheen vrijgestelde baten die belastbaar worden:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1651-00</span><InputNumber @bind-Value="Data.Code1651" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2651-00</span><InputNumber @bind-Value="Data.Code2651" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">3. Financi&euml;le opbrengsten:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1652-00</span><InputNumber @bind-Value="Data.Code1652" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2652-00</span><InputNumber @bind-Value="Data.Code2652" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 4. Meerwaarden -->
    <div class="vak4-group">
        <div class="vak4-q-label">4. Meerwaarden:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) afzonderlijk belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1653-00</span><InputNumber @bind-Value="Data.Code1653" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2653-00</span><InputNumber @bind-Value="Data.Code2653" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1654-00</span><InputNumber @bind-Value="Data.Code1654" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2654-00</span><InputNumber @bind-Value="Data.Code2654" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">5. Baten &ndash; kosten overdracht vorig belastbaar tijdperk:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1665-00</span><InputNumber @bind-Value="Data.Code1665" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2665-00</span><InputNumber @bind-Value="Data.Code2665" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 6. Vergoedingen -->
    <div class="vak4-group">
        <div class="vak4-q-label">6. Premies, vergoedingen en opzeggingsvergoedingen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) belastbaar tegen 12,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1657-00</span><InputNumber @bind-Value="Data.Code1657" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2657-00</span><InputNumber @bind-Value="Data.Code2657" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b1) COVID-vergoedingen belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1679-00</span><InputNumber @bind-Value="Data.Code1679" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2679-00</span><InputNumber @bind-Value="Data.Code2679" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b2) andere belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1655-00</span><InputNumber @bind-Value="Data.Code1655" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2655-00</span><InputNumber @bind-Value="Data.Code2655" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) belastbaar tegen 33%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1668-00</span><InputNumber @bind-Value="Data.Code1668" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2668-00</span><InputNumber @bind-Value="Data.Code2668" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d1) COVID-vergoedingen gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1680-00</span><InputNumber @bind-Value="Data.Code1680" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2680-00</span><InputNumber @bind-Value="Data.Code2680" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d2) andere gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1660-00</span><InputNumber @bind-Value="Data.Code1660" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2660-00</span><InputNumber @bind-Value="Data.Code2660" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">7. Niet-ingehouden persoonlijke sociale bijdragen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1681-00</span><InputNumber @bind-Value="Data.Code1681" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2681-00</span><InputNumber @bind-Value="Data.Code2681" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 8. Beroepskosten -->
    <div class="vak4-group">
        <div class="vak4-q-label">8. Beroepskosten:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) overdracht vorig belastbaar tijdperk:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1670-00</span><InputNumber @bind-Value="Data.Code1670" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2670-00</span><InputNumber @bind-Value="Data.Code2670" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) toegekend aan meewerkende echtgenoot:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1661-00</span><InputNumber @bind-Value="Data.Code1661" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2661-00</span><InputNumber @bind-Value="Data.Code2661" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) andere beroepskosten:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1656-00</span><InputNumber @bind-Value="Data.Code1656" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2656-00</span><InputNumber @bind-Value="Data.Code2656" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">9. Vrijgestelde waardeverminderingen op handelsvorderingen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1659-00</span><InputNumber @bind-Value="Data.Code1659" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2659-00</span><InputNumber @bind-Value="Data.Code2659" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">10. Vrijstelling in het kader van een minnelijk akkoord:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1658-00</span><InputNumber @bind-Value="Data.Code1658" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2658-00</span><InputNumber @bind-Value="Data.Code2658" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">11. Vrijstelling bijkomend personeel:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1662-00</span><InputNumber @bind-Value="Data.Code1662" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2662-00</span><InputNumber @bind-Value="Data.Code2662" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">12. Vrijstelling sociaal passief:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1682-00</span><InputNumber @bind-Value="Data.Code1682" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2682-00</span><InputNumber @bind-Value="Data.Code2682" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">13. Investeringsaftrek:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1664-00</span><InputNumber @bind-Value="Data.Code1664" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2664-00</span><InputNumber @bind-Value="Data.Code2664" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">14. Toekenning aan meewerkende echtgenoot:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1666-00</span><InputNumber @bind-Value="Data.Code1666" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2666-00</span><InputNumber @bind-Value="Data.Code2666" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">15. Totaal bijberoep / student-zelfstandige:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1667-00</span><InputNumber @bind-Value="Data.Code1667" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2667-00</span><InputNumber @bind-Value="Data.Code2667" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">16. Hervatting na ontslag of pensionering:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1671-00</span><InputCheckbox @bind-Value="Data.Code1671" class="form-check-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2671-00</span><InputCheckbox @bind-Value="Data.Code2671" class="form-check-input" /></div>
        </div>
    </div>

    <!-- 17. Buitenlandse oorsprong -->
    <div class="vak2-section-header">B. BATEN VAN BUITENLANDSE OORSPRONG</div>
    <div class="vak3-buitenland-section">
        @foreach (var rij in Data.BuitenlandseInkomsten)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak3-amount-input" /></div>
                <div class="vak3-buitenland-cell">
                    <label>Type:</label>
                    <InputSelect @bind-Value="rij.TypeVermindering" class="vak5-select">
                        <option value="">— kies —</option>
                        <option value="vrijstelling">Vrijstelling met progressievoorbehoud</option>
                        <option value="vermindering">Vermindering tot de helft</option>
                    </InputSelect>
                </div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandseInkomsten.Add(new())">+ rij</button>
    </div>

    <!-- 18-21. Administrative fields -->
    <div class="vak2-section-header">C. DIVERSE INLICHTINGEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">18. Baten verkregen via een feitelijke vereniging:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Naam feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingNaam1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingNaam2" class="vak3-text-input" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Adres feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingAdres1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingAdres2" class="vak3-text-input" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-group">
        <div class="vak4-q-label">19. Verliezen van een feitelijke vereniging (info):</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Naam feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingNaam1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingNaam2" class="vak3-text-input" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Adres feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingAdres1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingAdres2" class="vak3-text-input" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">20. Begindatum beroepswerkzaamheid (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1675-00</span><InputText @bind-Value="Data.Code1675" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2675-00</span><InputText @bind-Value="Data.Code2675" class="vak3-text-input" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">21. Einddatum beroepswerkzaamheid (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1676-00</span><InputText @bind-Value="Data.Code1676" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2676-00</span><InputText @bind-Value="Data.Code2676" class="vak3-text-input" /></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakXVIIIData Data { get; set; } = new();
}
