<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak XXII &ndash; EERSTE VESTIGING ALS ZELFSTANDIGE</div>

    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">Aanvangsdatum van de zelfstandige beroepswerkzaamheid:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1552-00</span><InputText @bind-Value="Data.Code1552" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2552-00</span><InputText @bind-Value="Data.Code2552" class="vak3-text-input" /></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakXXIIData Data { get; set; } = new();
}
