<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak XIX &ndash; VERREKENBARE BESTANDDELEN MET BETREKKING TOT EEN ZELFSTANDIGE BEROEPSWERKZAAMHEID</div>

    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Roerende voorheffing:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1756-00</span><InputNumber @bind-Value="Data.Code1756" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2756-00</span><InputNumber @bind-Value="Data.Code2756" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">2. Forfaitair gedeelte van de buitenlandse belasting:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1757-00</span><InputNumber @bind-Value="Data.Code1757" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2757-00</span><InputNumber @bind-Value="Data.Code2757" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">3. Bedrijfsvoorheffing:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1758-00</span><InputNumber @bind-Value="Data.Code1758" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2758-00</span><InputNumber @bind-Value="Data.Code2758" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">4. Belastingkrediet voor aangroei eigen middelen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1759-00</span><InputNumber @bind-Value="Data.Code1759" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2759-00</span><InputNumber @bind-Value="Data.Code2759" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">5. Belastingkrediet voor fietskilometervergoeding (cao nr. 164):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1760-00</span><InputNumber @bind-Value="Data.Code1760" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2760-00</span><InputNumber @bind-Value="Data.Code2760" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">6. Belastingkrediet voor facultatieve fietskilometervergoeding:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1762-00</span><InputNumber @bind-Value="Data.Code1762" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2762-00</span><InputNumber @bind-Value="Data.Code2762" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">7. Belastingkrediet voor uitgevers van papieren publicaties:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1763-00</span><InputNumber @bind-Value="Data.Code1763" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2763-00</span><InputNumber @bind-Value="Data.Code2763" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">8. Belastingkrediet voor verhoging treinabonnement:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1764-00</span><InputNumber @bind-Value="Data.Code1764" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2764-00</span><InputNumber @bind-Value="Data.Code2764" class="vak4-amount" /></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakXIXData Data { get; set; } = new();
}
