<EditForm Model="Data" class="vak4-form">

    <div class="vak2-title">Vak XVII &ndash; WINST UIT NIJVERHEIDS-, HANDELS- OF LANDBOUWONDERNEMINGEN</div>

    <div class="vak2-section-header">A. WINST</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-row">
        <div class="vak4-q-text">1. Brutowinst van de eigenlijke exploitatie:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1600-00</span><InputNumber @bind-Value="Data.Code1600" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2600-00</span><InputNumber @bind-Value="Data.Code2600" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">2. Voorheen vrijgestelde winst die belastbaar wordt:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1601-00</span><InputNumber @bind-Value="Data.Code1601" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2601-00</span><InputNumber @bind-Value="Data.Code2601" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">3. Financi&euml;le opbrengsten:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1602-00</span><InputNumber @bind-Value="Data.Code1602" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2602-00</span><InputNumber @bind-Value="Data.Code2602" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 4. Meerwaarden -->
    <div class="vak4-group">
        <div class="vak4-q-label">4. Meerwaarden:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) afzonderlijk belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1603-00</span><InputNumber @bind-Value="Data.Code1603" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2603-00</span><InputNumber @bind-Value="Data.Code2603" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1604-00</span><InputNumber @bind-Value="Data.Code1604" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2604-00</span><InputNumber @bind-Value="Data.Code2604" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">5. Winst &ndash; kosten overdracht vorig belastbaar tijdperk:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1615-00</span><InputNumber @bind-Value="Data.Code1615" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2615-00</span><InputNumber @bind-Value="Data.Code2615" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 6. Vergoedingen -->
    <div class="vak4-group">
        <div class="vak4-q-label">6. Premies, vergoedingen en opzeggingsvergoedingen:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) belastbaar tegen 12,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1607-00</span><InputNumber @bind-Value="Data.Code1607" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2607-00</span><InputNumber @bind-Value="Data.Code2607" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b1) COVID-vergoedingen belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1636-00</span><InputNumber @bind-Value="Data.Code1636" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2636-00</span><InputNumber @bind-Value="Data.Code2636" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b2) andere belastbaar tegen 16,5%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1605-00</span><InputNumber @bind-Value="Data.Code1605" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2605-00</span><InputNumber @bind-Value="Data.Code2605" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) belastbaar tegen 33%:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1618-00</span><InputNumber @bind-Value="Data.Code1618" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2618-00</span><InputNumber @bind-Value="Data.Code2618" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d1) COVID-vergoedingen gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1637-00</span><InputNumber @bind-Value="Data.Code1637" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2637-00</span><InputNumber @bind-Value="Data.Code2637" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">d2) andere gezamenlijk belastbaar:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1610-00</span><InputNumber @bind-Value="Data.Code1610" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2610-00</span><InputNumber @bind-Value="Data.Code2610" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">7. Niet-ingehouden persoonlijke sociale bijdragen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1632-00</span><InputNumber @bind-Value="Data.Code1632" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2632-00</span><InputNumber @bind-Value="Data.Code2632" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 8. Beroepskosten -->
    <div class="vak4-group">
        <div class="vak4-q-label">8. Beroepskosten:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">a) overdracht vorig belastbaar tijdperk:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1620-00</span><InputNumber @bind-Value="Data.Code1620" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2620-00</span><InputNumber @bind-Value="Data.Code2620" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">b) toegekend aan meewerkende echtgenoot:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1611-00</span><InputNumber @bind-Value="Data.Code1611" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2611-00</span><InputNumber @bind-Value="Data.Code2611" class="vak4-amount" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">c) andere beroepskosten:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><span class="vak2-code">1606-00</span><InputNumber @bind-Value="Data.Code1606" class="vak4-amount" /></div>
                <div class="vak4-input-cell"><span class="vak2-code">2606-00</span><InputNumber @bind-Value="Data.Code2606" class="vak4-amount" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">9. Vrijgestelde waardeverminderingen op handelsvorderingen:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1609-00</span><InputNumber @bind-Value="Data.Code1609" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2609-00</span><InputNumber @bind-Value="Data.Code2609" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">10. Vrijstelling in het kader van een minnelijk akkoord:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1608-00</span><InputNumber @bind-Value="Data.Code1608" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2608-00</span><InputNumber @bind-Value="Data.Code2608" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">11. Vrijstelling bijkomend personeel:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1612-00</span><InputNumber @bind-Value="Data.Code1612" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2612-00</span><InputNumber @bind-Value="Data.Code2612" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">12. Vrijstelling sociaal passief:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1633-00</span><InputNumber @bind-Value="Data.Code1633" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2633-00</span><InputNumber @bind-Value="Data.Code2633" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">13. Investeringsaftrek:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1614-00</span><InputNumber @bind-Value="Data.Code1614" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2614-00</span><InputNumber @bind-Value="Data.Code2614" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">14. Toekenning aan meewerkende echtgenoot:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1616-00</span><InputNumber @bind-Value="Data.Code1616" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2616-00</span><InputNumber @bind-Value="Data.Code2616" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">15. Totaal bijberoep / student-zelfstandige:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1617-00</span><InputNumber @bind-Value="Data.Code1617" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2617-00</span><InputNumber @bind-Value="Data.Code2617" class="vak4-amount" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">16. Hervatting na ontslag of pensionering:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1621-28</span><InputNumber @bind-Value="Data.Code1621" class="vak4-amount" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2621-95</span><InputNumber @bind-Value="Data.Code2621" class="vak4-amount" /></div>
        </div>
    </div>

    <!-- 17. Buitenlandse oorsprong -->
    <div class="vak2-section-header">B. WINST VAN BUITENLANDSE OORSPRONG</div>
    <div class="vak3-buitenland-section">
        @foreach (var rij in Data.BuitenlandseInkomsten)
        {
            <div class="vak3-buitenland-row">
                <div class="vak3-buitenland-cell"><label>Land:</label><InputText @bind-Value="rij.Land" class="vak3-text-input" /></div>
                <div class="vak3-buitenland-cell"><label>Code:</label><InputText @bind-Value="rij.Code" class="vak3-text-input vak3-code-input" /></div>
                <div class="vak3-buitenland-cell"><label>Bedrag:</label><InputNumber @bind-Value="rij.Bedrag" class="vak3-amount-input" /></div>
                <div class="vak3-buitenland-cell">
                    <label>Type:</label>
                    <InputSelect @bind-Value="rij.TypeVermindering" class="vak5-select">
                        <option value="">— kies —</option>
                        <option value="vrijstelling">Vrijstelling met progressievoorbehoud</option>
                        <option value="vermindering">Vermindering tot de helft</option>
                    </InputSelect>
                </div>
            </div>
        }
        <button type="button" class="vak3-add-btn" @onclick="() => Data.BuitenlandseInkomsten.Add(new())">+ rij</button>
    </div>

    <!-- 18-22. Administrative fields -->
    <div class="vak2-section-header">C. DIVERSE INLICHTINGEN</div>
    <div class="vak4-header-row"><div></div><div class="vak4-col-head">Belastingplichtige</div><div class="vak4-col-head">Partner</div></div>

    <div class="vak4-group">
        <div class="vak4-q-label">18. Winst verkregen via een feitelijke vereniging:</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Naam feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingNaam1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingNaam2" class="vak3-text-input" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Adres feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingAdres1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.FeitelijkeVerenigingAdres2" class="vak3-text-input" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-group">
        <div class="vak4-q-label">19. Verliezen van een feitelijke vereniging (info):</div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Naam feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingNaam1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingNaam2" class="vak3-text-input" /></div>
            </div>
        </div>
        <div class="vak4-subrow">
            <div class="vak4-q-text vak4-indent">Adres feitelijke vereniging:</div>
            <div class="vak4-col-duo">
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingAdres1" class="vak3-text-input" /></div>
                <div class="vak4-input-cell"><InputText @bind-Value="Data.VerliesVerenigingAdres2" class="vak3-text-input" /></div>
            </div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">20. Begindatum beroepswerkzaamheid (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1625-00</span><InputText @bind-Value="Data.Code1625" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2625-00</span><InputText @bind-Value="Data.Code2625" class="vak3-text-input" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">21. Einddatum beroepswerkzaamheid (dd/mm/jjjj):</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><span class="vak2-code">1626-00</span><InputText @bind-Value="Data.Code1626" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><span class="vak2-code">2626-00</span><InputText @bind-Value="Data.Code2626" class="vak3-text-input" /></div>
        </div>
    </div>

    <div class="vak4-row">
        <div class="vak4-q-text">22. Adres van de inrichting:</div>
        <div class="vak4-col-duo">
            <div class="vak4-input-cell"><InputText @bind-Value="Data.AdresInrichting1" class="vak3-text-input" /></div>
            <div class="vak4-input-cell"><InputText @bind-Value="Data.AdresInrichting2" class="vak3-text-input" /></div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter] public VakXVIIData Data { get; set; } = new();
}
