
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <span class="material-icons me-1" style="vertical-align: middle; font-size: 1.3rem;">emergency</span>
            <strong>SOS</strong>tax
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="material-icons nav-icon">home</span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="belastingen">
                <span class="material-icons nav-icon">calculate</span> Belastingen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="belastingen?snelleinvoer=true">
                <span class="material-icons nav-icon">flash_on</span> Snelle Invoer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}
