.link3 {
	COLOR: #000000; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

A.link3:active {
	COLOR: #000000; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

A.link3:link {
	COLOR: #000000; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

A.link3:visited {
	COLOR: #000000; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}

A.link3:hover {
	COLOR: #000000; LINE-HEIGHT: 100%; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}

.twbtitle {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;  FONT-SIZE: 14px;  COLOR: #003399; FONT-WEIGHT: bold
}